.team-logo{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 1px 10px rgb(14, 6, 26);
    margin-top: 10px;
}
.single-team{
    box-shadow: 4px 4px 15px rgb(0, 0, 0);
    border-radius: 8px;
}